<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
       <div class="panel-heading"><h2 id="main-message" ng-bind-html="main.text"></h2></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <button id="success-btn" ng-click="main.successClicked()" class="btn btn-success btn-lg">Success Button</button>
              <button id="fail-btn" ng-click="main.failClicked()" class="btn btn-danger btn-lg">Failure Button</button>
              <button id="reset-btn" ng-click="main.reset()" class="btn btn-default btn-lg">Reset <i class="fa fa-refresh"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
